In [130]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Sklearn functions and models
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import mutual_info_classif
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix

In [ ]:
##dictionary_columns = {'Depressants' : ['alchool', 'benzodiazepines', 'cannabis', 'ketamine', 'heroine']
#               'Hallucinogens':  ['cannabis', 'ketamine', 'lsd', 'mushrooms'],
#               'Stimulants' : ['anphet', 'cocaine', 'ecstasy', 'meth']}



#dictionary_score = {'Depressants' : [0.13, 0.23, 0.05,0.18, 0.41],
#                   'Hallucinogens' : [0.09, 0.3, 0.36,0.61],
#                   'Stimulants' : [0.2, 0.3,  0.2, 0.3]}


#data.columns
#list_columns = [['alchool', 'benzodiazepines', 'cannabis', 'ketamine', 'heroine'], 
#                ['cannabis', 'ketamine', 'lsd', 'mushrooms'], 
                #['anphet', 'cocaine', 'ecstasy', 'meth'] ]

In [27]:
data = pd.read_csv('./data_processed/data_dummy_variable_etnicity_country_gender.csv')
#display(data)
data.drop(columns = ['Unnamed: 0', 'id_number'], axis = 1, inplace = True)
len(data)
data['lsd'].describe()
data.columns

Index(['age', 'education', 'n_score', 'e_score', 'o_score', 'a_score',
       'c_score', 'impulsiveness', 'ss', 'alcohol', 'anphet', 'amyl', 'benzo',
       'caffeine', 'cannabis', 'chocolate', 'cocaine', 'crack', 'ecstasy',
       'heroine', 'ketamine', 'legal_h', 'lsd', 'meth', 'mushrooms',
       'nicotine', 'semer', 'vsa', 'asian', 'black_asian', 'white_asian',
       'white_black', 'other', 'white', 'other2', 'autralia', 'canada',
       'new_zeland', 'ireland', 'uk', 'usa', 'male', 'female'],
      dtype='object')

In [112]:
depressants =zip(['alcohol', 'benzo', 'cannabis', 'ketamine', 'heroine'],[0.13, 0.23, 0.05,0.18, 0.41])
depressants= list(depressants)
print(depressants)


#data['depressant']  = 
#depressant = pd.DataFrame()
z = []
for depressant in depressants:
    #print(depressant[0])
    print(depressant[1])
    
    z.append((data[depressant[0]] * depressant[1]))
   #lista_da_sommare = sum([data[depressant[0]] * depressant[1],  ]
#print(data[depressant[0]] * depressant[1])
#print(z[0])
alcohol = np.array(z[0])
#print(total_depressant)
benzo = np.array(z[1])
cannabis = np.array(z[2])
ketamine = np.array(z[3])
heroine = np.array(z[4])
print(z[0])
#list_despressant = [alcohol, benzo, cannabis, ketamine, heroine]
somma = np.zeros(len(z[0]))
for i in range(len(z)):
    somma = np.add(somma, z[i])
    #print(somma)
#print(list_despressant)
print(somma)

def colonna_gruppo(nomi_sostanze, data):
    z = []
    for sostanza in nomi_sostanze:
         print(sostanza)
         z.append((data[sostanza[0]] * sostanza[1]))
    #print(depressant[0])
    #print(depressant[1])
    colunm = np.zeros(len(z[0]))
    for i in range(len(z)):
        column = np.add(column, z[i])
    
    return column
    
#colonna_depressant = colonna_gruppo(depressant, data)

[('alcohol', 0.13), ('benzo', 0.23), ('cannabis', 0.05), ('ketamine', 0.18), ('heroine', 0.41)]
0.13
0.23
0.05
0.18
0.41
0       0.65
1       0.65
2       0.78
3       0.52
4       0.52
        ...
1880    0.65
1881    0.65
1882    0.52
1883    0.65
1884    0.52
Name: alcohol, Length: 1885, dtype: float64
0       1.11
1       1.21
2       0.93
3       1.67
4       0.67
        ...
1880    0.90
1881    0.80
1882    2.33
1883    0.95
1884    1.36
Length: 1885, dtype: float64

In [114]:
depressants =zip(['alcohol', 'benzo', 'cannabis', 'ketamine', 'heroine'],[0.13, 0.23, 0.05,0.18, 0.41])
depressants= list(depressants)
print(depressants)

[('alcohol', 0.13), ('benzo', 0.23), ('cannabis', 0.05), ('ketamine', 0.18), ('heroine', 0.41)]

In [116]:
data[]

,age,education,n_score,e_score,o_score,a_score,c_score,impulsiveness,ss,alcohol,...,white,other2,autralia,canada,new_zeland,ireland,uk,usa,male,female
0,0.49788,-0.05921,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,5,...,0,0,0,0,0,0,1,0,0,1
1,-0.07854,1.98437,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,5,...,1,0,0,0,0,0,1,0,1,0
2,0.49788,-0.05921,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,6,...,1,0,0,0,0,0,1,0,1,0
3,-0.95197,1.16365,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,4,...,1,0,0,0,0,0,1,0,0,1
4,0.49788,1.98437,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,4,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,-0.95197,-0.61113,-1.19430,1.74091,1.88511,0.76096,-1.13788,0.88113,1.92173,5,...,1,0,0,0,0,0,0,1,0,1
1881,-0.95197,-0.61113,-0.24649,1.74091,0.58331,0.76096,-1.51840,0.88113,0.76540,5,...,1,0,0,0,0,0,0,1,1,0
1882,-0.07854,0.45468,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,0.52975,-0.52593,4,...,1,0,0,0,0,0,0,1,0,1
1883,-0.95197,-0.61113,0.91093,-1.92173,0.29338,-1.62090,-2.57309,1.29221,1.22470,5,...,1,0,0,0,0,0,0,1,0,1
1884,-0.95197,-0.61113,-0.46725,2.12700,1.65653,1.11406,0.41594,0.88113,1.22470,4,...,1,0,0,0,0,1,0,0,1,0

In [122]:
# NON funziona

def colonna_gruppo(nomi_sostanze, data):
    z = []
    for sostanza in nomi_sostanze:
         #print(data[sostanza[0]])
         z.append((data[sostanza[0]] * sostanza[1]))
         #print(z)
    #print(depressant[0])
    #print(depressant[1])
    column = np.zeros(len(z[0]))
    for i in range(len(z)):
        column = np.add(column, z[i])
    
    return column
    
column_depressant = colonna_gruppo(depressants, data)

0       1.11
1       1.21
2       0.93
3       1.67
4       0.67
        ...
1880    0.90
1881    0.80
1882    2.33
1883    0.95
1884    1.36
Length: 1885, dtype: float64

# Creo nomi sostanze

In [127]:
depressants =zip(['alcohol', 'benzo', 'cannabis', 'ketamine', 'heroine'],[0.13, 0.23, 0.05,0.18, 0.41])
depressants= list(depressants)
column_depressant = colonna_gruppo(depressants, data)
print(column_depressant)

hallucinogens = zip(['cannabis', 'ketamine', 'lsd', 'mushrooms'], [0.09, 0.3, 0.36,0.61])
hallucinogens = list(hallucinogens)
column_hallucinogens = colonna_gruppo(hallucinogens, data)

print(column_hallucinogens)


stimulants = zip(['anphet', 'cocaine', 'ecstasy', 'meth'], [0.2, 0.3,  0.2, 0.3])
stimulants = list(stimulants)
column_stimulants = colonna_gruppo(stimulants, data)

print(column_stimulants)

0       1.11
1       1.21
2       0.93
3       1.67
4       0.67
        ...
1880    0.90
1881    0.80
1882    2.33
1883    0.95
1884    1.36
Length: 1885, dtype: float64
0       0.00
1       1.68
2       0.88
3       0.78
4       1.49
        ...
1880    1.53
1881    4.51
1882    3.08
1883    3.45
1884    3.18
Length: 1885, dtype: float64
0       0.4
1       3.0
2       0.0
3       0.6
4       0.4
       ...
1880    0.0
1881    1.6
1882    3.2
1883    0.6
1884    2.1
Length: 1885, dtype: float64

## create dataframe with new columns

In [128]:
data = pd.read_csv('./data_processed/data_dummy_variable_etnicity_country_gender.csv')
#display(data)
data.drop(columns = ['Unnamed: 0', 'id_number'], axis = 1, inplace = True)
display(data)

,age,education,n_score,e_score,o_score,a_score,c_score,impulsiveness,ss,alcohol,...,white,other2,autralia,canada,new_zeland,ireland,uk,usa,male,female
0,0.49788,-0.05921,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,5,...,0,0,0,0,0,0,1,0,0,1
1,-0.07854,1.98437,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,5,...,1,0,0,0,0,0,1,0,1,0
2,0.49788,-0.05921,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,6,...,1,0,0,0,0,0,1,0,1,0
3,-0.95197,1.16365,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,4,...,1,0,0,0,0,0,1,0,0,1
4,0.49788,1.98437,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,4,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,-0.95197,-0.61113,-1.19430,1.74091,1.88511,0.76096,-1.13788,0.88113,1.92173,5,...,1,0,0,0,0,0,0,1,0,1
1881,-0.95197,-0.61113,-0.24649,1.74091,0.58331,0.76096,-1.51840,0.88113,0.76540,5,...,1,0,0,0,0,0,0,1,1,0
1882,-0.07854,0.45468,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,0.52975,-0.52593,4,...,1,0,0,0,0,0,0,1,0,1
1883,-0.95197,-0.61113,0.91093,-1.92173,0.29338,-1.62090,-2.57309,1.29221,1.22470,5,...,1,0,0,0,0,0,0,1,0,1
1884,-0.95197,-0.61113,-0.46725,2.12700,1.65653,1.11406,0.41594,0.88113,1.22470,4,...,1,0,0,0,0,1,0,0,1,0