In [2]:
import pandas as pd
import utils as utl

## Create the dictionaries

In [10]:
etnicity = {'asian' : -0.50212, 'black_asian' : 1.90725, 'white_asian' : 0.126001,
             'white_black' : -0.22166, 'other' : 0.11440, 'white' : -0.31685, 
             'other2': -1.10702 } 

country = {'australia' : -0.09765, 'canada' : 0.24923, 'new_zealand' : -0.46841, 'other' : -0.28519,
              'ireland' : 0.21128, 'uk' : 0.96082, 'usa' : -0.57009}

gender = {'male' : -0.48246, 'female' : 0.48246}

In [7]:
data = pd.read_csv('drug_consumption.csv')
data.replace(0.12600, 0.126001, inplace = True) #tips tranform to float, zero were rounded 
data.rename(columns={"country ":"country"}, inplace = True)  #BUG BUG BUG country got the space, remove it

data.columns

Index(['id_number', 'age', 'gender', 'education', 'country', 'etnicity',
       'n_score', 'e_score', 'o_score', 'a_score', 'c_score', 'impulsiveness',
       'ss', 'alcohol', 'anphet', 'amyl', 'benzo', 'caffeine', 'cannabis',
       'chocolate', 'cocaine', 'crack', 'ecstasy', 'heroine', 'ketamine',
       'legal_h', 'lsd', 'meth', 'mushrooms', 'nicotine', 'semer', 'vsa'],
      dtype='object')

## Main loop where I call the functions

In [11]:
list_dictionary = [etnicity, country, gender]
list_column_name = ['etnicity', 'country', 'gender']
j = 0
for i, column_name in zip(list_dictionary, list_column_name):
    if j == 0:
        dictionary = utl.create_dictionary(data[column_name], i)
        final_df = utl.append_in_dataframe(data, dictionary)
    else:
        dictionary = utl.create_dictionary(final_df[column_name], i)
        final_df = utl.append_in_dataframe(final_df, dictionary)
    j += 1
    final_df.drop(column_name, axis = 1, inplace = True)
    #print(i, column_name)
final_df.head()

,id_number,age,education,n_score,e_score,o_score,a_score,c_score,impulsiveness,ss,...,white,other2,australia,canada,new_zealand,ireland,uk,usa,male,female
0,1,0.49788,-0.05921,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,...,0,0,0,0,0,0,1,0,0,1
1,2,-0.07854,1.98437,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,...,1,0,0,0,0,0,1,0,1,0
2,3,0.49788,-0.05921,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,...,1,0,0,0,0,0,1,0,1,0
3,4,-0.95197,1.16365,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,...,1,0,0,0,0,0,1,0,0,1
4,5,0.49788,1.98437,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,...,1,0,0,0,0,0,1,0,0,1

## Export the dataset

In [13]:
path = '.\data_processed'
file_name = '\data_dummy_variable'

# change a name based on wich column you have changed 
for column in list_column_name:
    file_name += '_' + column
final_path = path + file_name + '.csv'
# example: print(final_path) -> .\data_processed\data_dummy_variable_etnicity_country_gender.csv

final_df.to_csv(final_path ) #This time I won, Windows 1 - 1 Zaz